body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.background {
    background: url('image_background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-content {
    text-align: center;
}

h1 {
    font-size: 36px;
    color: #fff;
    margin-bottom: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
}
